[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = "*"
sqlalchemy = "*"
faker = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn app.main:app --reload"
start = "gunicorn app.main:app -k uvicorn.workers.UvicornWorker --reload"
